results/
results/*
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
*.RData
*.html
*.md
*.sql
*.xlsx
*.fas
*.json
*.png
*.fasta
*.nwk
data
*/quality/*
quality/
*.tex
*.pdf
*.RDS
*.csv
refs/
*rds
*.fastq
*.fastq.gz
*/dmux
*/pericia/*
*cleaned
pendrive
*/multiqc/*
multiqc/*
